In [2]:
# Import setup & df_display_helpers
from setup.setup import *
from datagrid_and_value_box_helpers import *

In [3]:
# Load and clean cdl data
cdlDF = load_and_clean_cdl_data()
cdlDF

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\03 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v03\setup\setup.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5683,70661,2024-05-19,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,37,22,...,1,W,TX,OpTic,Toronto Ultra,TOR,118,368,132,0
5684,70661,2024-05-19,Sunday,CleanX,Toronto Ultra,4,Rio,Hardpoint,24,28,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0
5685,70661,2024-05-19,Sunday,Envoy,Toronto Ultra,4,Rio,Hardpoint,20,31,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0
5686,70661,2024-05-19,Sunday,Insight,Toronto Ultra,4,Rio,Hardpoint,12,27,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0
5687,70661,2024-05-19,Sunday,Scrap,Toronto Ultra,4,Rio,Hardpoint,30,26,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0

In [4]:
# Build Maps 1 - 3 Totals Dataframe
adj_1_thru_3_totals = build_1_thru_3_totals(cdlDF)
adj_1_thru_3_totals

      match_id    player match_date team_abbr  kills
0        27193   Cellium 2023-12-08       ATL     45
1        27193    Drazah 2023-12-08       ATL     51
2        27193      Simp 2023-12-08       ATL     72
3        27193     aBeZy 2023-12-08       ATL     54
4        27193  Capsidal 2023-12-08       BOS     58
...        ...       ...        ...       ...    ...
1323     70661     Scrap 2024-05-19       TOR     54
1324     70661     Dashy 2024-05-19        TX     52
1325     70661     Kenny 2024-05-19        TX     61
1326     70661      Pred 2024-05-19        TX     54
1327     70661   Shotzzy 2024-05-19        TX     67

[1328 rows x 5 columns]

In [3]:
# Build series score diffs
series_score_diffs = build_series_summaries(cdlDF)
series_score_diffs

,match_id,team,team_abbr,map_wins,map_losses,series_score_diff,match_date,opp
0,27193,Atlanta FaZe,ATL,3,2,1,2023-12-08,BOS
1,27193,Boston Breach,BOS,2,3,-1,2023-12-08,ATL
2,27194,Los Angeles Thieves,LAT,1,3,-2,2023-12-08,SEA
3,27194,Seattle Surge,SEA,3,1,2,2023-12-08,LAT
4,27195,New York Subliners,NYSL,3,2,1,2023-12-08,TX
...,...,...,...,...,...,...,...,...
347,70655,Toronto Ultra,TOR,3,1,2,2024-05-18,TX
348,70656,New York Subliners,NYSL,3,1,2,2024-05-18,SEA
349,70656,Seattle Surge,SEA,1,3,-2,2024-05-18,NYSL
350,70657,Miami Heretics,MIA,1,3,-2,2024-05-18,TX
351,70657,OpTic Texas,TX,3,1,2,2024-05-18,MIA

In [5]:
# Filter maps 
cdlDF = filter_maps(cdlDF)
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,70661,2024-05-19,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,37,22,...,1,W,TX,OpTic,Toronto Ultra,TOR,118,368,132,0
4580,70661,2024-05-19,Sunday,CleanX,Toronto Ultra,4,Rio,Hardpoint,24,28,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0
4581,70661,2024-05-19,Sunday,Envoy,Toronto Ultra,4,Rio,Hardpoint,20,31,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0
4582,70661,2024-05-19,Sunday,Insight,Toronto Ultra,4,Rio,Hardpoint,12,27,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0
4583,70661,2024-05-19,Sunday,Scrap,Toronto Ultra,4,Rio,Hardpoint,30,26,...,0,L,TOR,Ultra,OpTic Texas,TX,250,368,-132,0

In [6]:
# Build rosters
rostersDF = build_rosters(cdlDF).copy()
rostersDF

         player                    team team_abbr
0         aBeZy            Atlanta FaZe       ATL
1       Cellium            Atlanta FaZe       ATL
2        Drazah            Atlanta FaZe       ATL
3          Simp            Atlanta FaZe       ATL
4         Beans           Boston Breach       BOS
5     Pentagrxm           Boston Breach       BOS
6     Priestahh           Boston Breach       BOS
7        Snoopy           Boston Breach       BOS
8      Clayster   Carolina Royal Ravens       CAR
9          FeLo   Carolina Royal Ravens       CAR
10        Gwinn   Carolina Royal Ravens       CAR
11       TJHaLy   Carolina Royal Ravens       CAR
12       Attach        Las Vegas Legion        LV
13          Gio        Las Vegas Legion        LV
14         Nero        Las Vegas Legion        LV
15      oJohnny        Las Vegas Legion        LV
16   Diamondcon  Los Angeles Guerrillas       LAG
17      Estreal  Los Angeles Guerrillas       LAG
18         Fame  Los Angeles Guerrillas       LAG
19       Flames  Los Angeles Guerrillas       LAG
20       Ghosty     Los Angeles Thieves       LAT
21  JoeDeceives     Los Angeles Thieves       LAT
22        Kremp     Los Angeles Thieves       LAT
23       Nastie     Los Angeles Thieves       LAT
24        Lucky          Miami Heretics       MIA
25      MettalZ          Miami Heretics       MIA
26        ReeaL          Miami Heretics       MIA
27        Vikul          Miami Heretics       MIA
28     Accuracy         Minnesota ROKKR       MIN
29      Gunless         Minnesota ROKKR       MIN
30         Lynz         Minnesota ROKKR       MIN
31       Standy         Minnesota ROKKR       MIN
32        HyDra      New York Subliners      NYSL
33       KiSMET      New York Subliners      NYSL
34          Sib      New York Subliners      NYSL
35         Skyz      New York Subliners      NYSL
36        Dashy             OpTic Texas        TX
37        Kenny             OpTic Texas        TX
38         Pred             OpTic Texas        TX
39      Shotzzy             OpTic Texas        TX
40           04           Seattle Surge       SEA
41       Abuzah           Seattle Surge       SEA
42       Breszy           Seattle Surge       SEA
43         Huke           Seattle Surge       SEA
44       CleanX           Toronto Ultra       TOR
45        Envoy           Toronto Ultra       TOR
46      Insight           Toronto Ultra       TOR
47        Scrap           Toronto Ultra       TOR

In [7]:
# Initialize player props dataframe
initial_player_props = build_intial_props(rostersDF).copy()
initial_player_props

      player           team team_abbr  prop  line
0      aBeZy   Atlanta FaZe       ATL     0  50.5
1    Cellium   Atlanta FaZe       ATL     0  50.5
2     Drazah   Atlanta FaZe       ATL     0  50.5
3       Simp   Atlanta FaZe       ATL     0  50.5
4      Beans  Boston Breach       BOS     0  50.5
..       ...            ...       ...   ...   ...
187    Scrap  Toronto Ultra       TOR     3  22.0
188    Dashy    OpTic Texas        TX     3  22.0
189    Kenny    OpTic Texas        TX     3  22.0
190     Pred    OpTic Texas        TX     3  22.0
191  Shotzzy    OpTic Texas        TX     3  22.0

[192 rows x 5 columns]

In [5]:
# Get all possible map & mode combos
map_and_mode_combos = filter_maps(cdlDF)[["gamemode", "map_name"]].drop_duplicates().sort_values(["gamemode", "map_name"]).reset_index(drop = True)
map_and_mode_combos

            gamemode  map_name
0          Hardpoint    6 Star
1          Hardpoint   Karachi
2          Hardpoint       Rio
3          Hardpoint  Sub Base
4          Hardpoint     Vista
5   Search & Destroy    6 Star
6   Search & Destroy  Highrise
7   Search & Destroy  Invasion
8   Search & Destroy   Karachi
9   Search & Destroy       Rio
10           Control  Highrise
11           Control  Invasion
12           Control   Karachi

In [6]:
# Test build_scoreboards
scoreboards = build_scoreboards(cdlDF, "Atlanta FaZe", "OpTic Texas", "Hardpoint")
scoreboards

,Date,Map,Team,Player,Kills,Deaths,Margin,Opponent,Player,Kills,Deaths
0,2024-05-18,Sub Base,TX,Dashy,15,19,55,MIA,Lucky,21,20
1,2024-05-18,Sub Base,TX,Kenny,23,16,55,MIA,MettalZ,15,24
2,2024-05-18,Sub Base,TX,Pred,36,17,55,MIA,ReeaL,17,25
3,2024-05-18,Sub Base,TX,Shotzzy,17,18,55,MIA,Vikul,17,22
4,2024-05-18,6 Star,TX,Dashy,21,22,25,MIA,Lucky,22,26
...,...,...,...,...,...,...,...,...,...,...,...
247,2023-12-08,Karachi,TX,Shotzzy,16,22,-97,NYSL,Skyz,16,18
248,2023-12-08,Karachi,ATL,aBeZy,24,24,12,BOS,Capsidal,24,26
249,2023-12-08,Karachi,ATL,Cellium,21,19,12,BOS,Priestahh,18,24
250,2023-12-08,Karachi,ATL,Drazah,25,22,12,BOS,SlasheR,24,23
251,2023-12-08,Karachi,ATL,Simp,33,23,12,BOS,Snoopy,22,30

In [7]:
# Test build_scoreboards
scoreboards = build_scoreboards(cdlDF, "Atlanta FaZe", "OpTic Texas", "Hardpoint", "6 Star")
scoreboards

,Date,Team,Player,Kills,Deaths,Margin,Opponent,Player,Kills,Deaths
0,2024-05-18,TX,Dashy,21,22,25,MIA,Lucky,22,26
1,2024-05-18,TX,Kenny,26,26,25,MIA,MettalZ,23,24
2,2024-05-18,TX,Pred,30,27,25,MIA,ReeaL,39,24
3,2024-05-18,TX,Shotzzy,24,29,25,MIA,Vikul,20,27
4,2024-05-18,TX,Dashy,25,25,-34,TOR,CleanX,27,27
5,2024-05-18,TX,Kenny,17,28,-34,TOR,Envoy,26,28
6,2024-05-18,TX,Pred,32,31,-34,TOR,Insight,28,22
7,2024-05-18,TX,Shotzzy,31,29,-34,TOR,Scrap,32,28
8,2024-05-11,ATL,aBeZy,23,15,102,SEA,04,16,28
9,2024-05-11,ATL,Cellium,21,14,102,SEA,Abuzah,19,23
10,2024-05-11,ATL,Drazah,25,17,102,SEA,Breszy,13,26
11,2024-05-11,ATL,Simp,32,19,102,SEA,Huke,17,24
12,2024-05-04,TX,Dashy,24,21,27,LAG,Diamondcon,16,24
13,2024-05-04,TX,Kenny,24,22,27,LAG,Estreal,24,26
14,2024-05-04,TX,Pred,23,19,27,LAG,Fame,17,25
15,2024-05-04,TX,Shotzzy,28,22,27,LAG,Flames,27,24
16,2024-05-03,TX,Dashy,32,32,12,BOS,Pentagrxm,32,33
17,2024-05-03,TX,Kenny,30,35,12,BOS,Priestahh,33,31
18,2024-05-03,TX,Pred,33,32,12,BOS,Seany,25,34
19,2024-05-03,TX,Shotzzy,36,33,12,BOS,Snoopy,42,33
20,2024-04-21,ATL,aBeZy,23,17,123,TOR,CleanX,22,22
21,2024-04-21,ATL,Cellium,24,11,123,TOR,Envoy,14,26
22,2024-04-21,ATL,Drazah,28,18,123,TOR,Insight,13,25
23,2024-04-21,ATL,Simp,19,21,123,TOR,Scrap,18,21
24,2024-04-19,TX,Dashy,23,23,35,SEA,04,23,27
25,2024-04-19,TX,Kenny,36,21,35,SEA,Abuzah,26,26
26,2024-04-19,TX,Pred,21,20,35,SEA,Breszy,18,26
27,2024-04-19,TX,Shotzzy,32,24,35,SEA,Huke,21,33
28,2024-04-14,ATL,aBeZy,21,28,-43,TX,Dashy,33,21
29,2024-04-14,ATL,Cellium,24,21,-43,TX,Kenny,27,26
30,2024-04-14,ATL,Drazah,23,36,-43,TX,Pred,25,26
31,2024-04-14,ATL,Simp,33,23,-43,TX,Shotzzy,23,28

In [8]:
# Test Compute Win Streak for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        "Win Streak: " + str(
            compute_win_streak(
                cdlDF, 
                "Minnesota ROKKR",
                row["gamemode"], 
                row["map_name"]
            )
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

Win Streak: -3    6 Star Hardpoint
Win Streak: -1    Karachi Hardpoint
Win Streak: -4    Rio Hardpoint
Win Streak: 1    Sub Base Hardpoint
Win Streak: 1    Vista Hardpoint
Win Streak: 2    6 Star Search & Destroy
Win Streak: 1    Highrise Search & Destroy
Win Streak: -2    Invasion Search & Destroy
Win Streak: -6    Karachi Search & Destroy
Win Streak: -2    Rio Search & Destroy
Win Streak: -3    Highrise Control
Win Streak: 1    Invasion Control
Win Streak: -6    Karachi Control

In [9]:
# Test Compute H2H Map Record for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Carolina Royal Ravens", 
            "Las Vegas Legion", 
            row["gamemode"], 
            row["map_name"]
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

0 - 0    6 Star Hardpoint
1 - 0    Karachi Hardpoint
0 - 1    Rio Hardpoint
0 - 0    Sub Base Hardpoint
0 - 0    Vista Hardpoint
0 - 0    6 Star Search & Destroy
0 - 1    Highrise Search & Destroy
2 - 0    Invasion Search & Destroy
1 - 0    Karachi Search & Destroy
0 - 0    Rio Search & Destroy
0 - 0    Highrise Control
1 - 0    Invasion Control
1 - 1    Karachi Control

In [10]:
# Test Compute H2H Map Record for each mode overall
all_gamemodes = ["Hardpoint", "Search & Destroy", "Control"]
for gamemode in all_gamemodes:
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Carolina Royal Ravens", 
            "Las Vegas Legion", 
            gamemode
        ) + \
        "    " + gamemode
    )

1 - 1    Hardpoint

3 - 1    Search & Destroy
2 - 1    Control

In [11]:
# Test Compute H2H Series Record by Computing the H2H Series Record for each possible combination of teams

# Get teams
all_teams = sorted(cdlDF['team'].unique())

# Loop through teams
# for i in range(len(all_teams)):
#     if i != len(all_teams) - 1:
#         print(all_teams[i])
#         print("--------------------------")
#     for j in range(i + 1, len(all_teams)):
#         print(
#             f"{compute_h2h_series_record(cdlDF, all_teams[i], all_teams[j])} {all_teams[j]}"
#         )
#     if i != len(all_teams) - 1:
#         print("")

# Loop through all teams
for i in range(len(all_teams)):
    print(all_teams[i])
    print("--------------------------")
    for j in range(len(all_teams)):
        if i != j:
            print(
                f"{compute_h2h_series_record(cdlDF, all_teams[i], all_teams[j])} {all_teams[j]}"
            )
    print("")

Atlanta FaZe
--------------------------
2 - 0 Boston Breach
2 - 0 Carolina Royal Ravens
2 - 0 Las Vegas Legion
2 - 1 Los Angeles Guerrillas
3 - 0 Los Angeles Thieves
2 - 0 Miami Heretics
2 - 0 Minnesota ROKKR
3 - 1 New York Subliners
6 - 0 OpTic Texas
2 - 0 Seattle Surge
2 - 2 Toronto Ultra

Boston Breach
--------------------------
0 - 2 Atlanta FaZe
1 - 0 Carolina Royal Ravens
0 - 2 Las Vegas Legion
0 - 2 Los Angeles Guerrillas
0 - 3 Los Angeles Thieves
1 - 1 Miami Heretics
1 - 2 Minnesota ROKKR
0 - 3 New York Subliners
0 - 2 OpTic Texas
1 - 2 Seattle Surge
1 - 1 Toronto Ultra

Carolina Royal Ravens
--------------------------
0 - 2 Atlanta FaZe
0 - 1 Boston Breach
2 - 1 Las Vegas Legion
3 - 0 Los Angeles Guerrillas
0 - 2 Los Angeles Thieves
1 - 2 Miami Heretics
1 - 1 Minnesota ROKKR
2 - 2 New York Subliners
0 - 3 OpTic Texas
1 - 3 Seattle Surge
0 - 2 Toronto Ultra

Las Vegas Legion
--------------------------
0 - 2 Atlanta FaZe
2 - 0 Boston Breach
1 - 2 Carolina Royal Ravens
2 - 1 Los Angeles Guerrillas
0 - 2 Los Angeles Thieves
2 - 2 Miami Heretics
1 - 0 Minnesota ROKKR
0 - 2 New York Subliners
0 - 2 OpTic Texas
2 - 1 Seattle Surge
0 - 3 Toronto Ultra

Los Angeles Guerrillas
--------------------------
1 - 2 Atlanta FaZe
2 - 0 Boston Breach
0 - 3 Carolina Royal Ravens
1 - 2 Las Vegas Legion
3 - 1 Los Angeles Thieves
0 - 2 Miami Heretics
2 - 2 Minnesota ROKKR
0 - 2 New York Subliners
0 - 2 OpTic Texas
0 - 1 Seattle Surge
0 - 3 Toronto Ultra

Los Angeles Thieves
--------------------------
0 - 3 Atlanta FaZe
3 - 0 Boston Breach
2 - 0 Carolina Royal Ravens
2 - 0 Las Vegas Legion
1 - 3 Los Angeles Guerrillas
2 - 1 Miami Heretics
1 - 1 Minnesota ROKKR
0 - 2 New York Subliners
0 - 2 OpTic Texas
1 - 1 Seattle Surge
0 - 2 Toronto Ultra

Miami Heretics
--------------------------
0 - 2 Atlanta FaZe
1 - 1 Boston Breach
2 - 1 Carolina Royal Ravens
2 - 2 Las Vegas Legion
2 - 0 Los Angeles Guerrillas
1 - 2 Los Angeles Thieves
2 - 0 Minnesota ROKKR
0 - 2 New York Subliners
1 - 4 OpTic Texas
1 - 1 Seattle Surge
0 - 2 Toronto Ultra

Minnesota ROKKR
--------------------------
0 - 2 Atlanta FaZe
2 - 1 Boston Breach
1 - 1 Carolina Royal Ravens
0 - 1 Las Vegas Legion
2 - 2 Los Angeles Guerrillas
1 - 1 Los Angeles Thieves
0 - 2 Miami Heretics
1 - 2 New York Subliners
0 - 3 OpTic Texas
2 - 1 Seattle Surge
0 - 3 Toronto Ultra

New York Subliners
--------------------------
1 - 3 Atlanta FaZe
3 - 0 Boston Breach
2 - 2 Carolina Royal Ravens
2 - 0 Las Vegas Legion
2 - 0 Los Angeles Guerrillas
2 - 0 Los Angeles Thieves
2 - 0 Miami Heretics
2 - 1 Minnesota ROKKR
1 - 2 OpTic Texas
2 - 1 Seattle Surge
1 - 2 Toronto Ultra

OpTic Texas
--------------------------
0 - 6 Atlanta FaZe
2 - 0 Boston Breach
3 - 0 Carolina Royal Ravens
2 - 0 Las Vegas Legion
2 - 0 Los Angeles Guerrillas
2 - 0 Los Angeles Thieves
4 - 1 Miami Heretics
3 - 0 Minnesota ROKKR
2 - 1 New York Subliners
3 - 0 Seattle Surge
2 - 1 Toronto Ultra

Seattle Surge
--------------------------
0 - 2 Atlanta FaZe
2 - 1 Boston Breach
3 - 1 Carolina Royal Ravens
1 - 2 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
1 - 1 Los Angeles Thieves
1 - 1 Miami Heretics
1 - 2 Minnesota ROKKR
1 - 2 New York Subliners
0 - 3 OpTic Texas
0 - 4 Toronto Ultra

Toronto Ultra
--------------------------
2 - 2 Atlanta FaZe
1 - 1 Boston Breach
2 - 0 Carolina Royal Ravens
3 - 0 Las Vegas Legion
3 - 0 Los Angeles Guerrillas
2 - 0 Los Angeles Thieves
2 - 0 Miami Heretics
3 - 0 Minnesota ROKKR
2 - 1 New York Subliners
1 - 2 OpTic Texas
4 - 0 Seattle Surge

In [12]:
player_ou(cdlDF, "Shotzzy", "Hardpoint", 30)

('Under', '80', '6', '28', '1')

In [13]:
player_ou(cdlDF, "Attach", "Search & Destroy", 7)

('Under', '52', '13', '15', '1')

In [14]:
player_ou(cdlDF, "Drazah", "Control", 22.5)

('Over', '59', '19', '13', '0')

In [15]:
player_ou(cdlDF, "Skyz", "Hardpoint", 24, "Sub Base")

('Under', '62', '3', '5', '0')

In [16]:
player_ou(cdlDF, "HyDra", "Search & Destroy", 12, "Rio")

('Under', '100', '0', '1', '0')

In [17]:
player_ou(cdlDF, "Diamondcon", "Control", 21, "Highrise")

('Over', '62', '8', '5', '0')

In [18]:
player_ou(cdlDF, "Gunless", "Hardpoint", 24, "Sub Base")

('Under', '100', '0', '1', '0')

In [19]:
player_ou(cdlDF, "Kenny", "Hardpoint", 24, "Vista")

('Over', '50', '1', '1', '0')

In [20]:
over_under, percentage, overs, unders, hooks = player_ou(cdlDF, "Accuracy", "Control", 21, "Invasion")
print(f"{over_under} {percentage}% \n{overs} - {unders} - {hooks}")

Over 55%
6 - 5 - 0

In [21]:
over_under, percentage, overs, unders, hooks = player_ou(cdlDF, "Scrap", "Hardpoint", 23)
print(f"{over_under} {percentage}% \n{overs} - {unders} - {hooks}")

Over 64%
23 - 10 - 3

In [22]:
player_over_under_streak(cdlDF, "Kremp", "Hardpoint", 21.5)

('Under', '1')

In [23]:
player_over_under_streak(cdlDF, "Vikul", "Search & Destroy", 6.5)

('Under', '2')

In [24]:
player_over_under_streak(cdlDF, "Lucky", "Control", 21)

('Under', '2')

In [25]:
player_over_under_streak(cdlDF, "Gio", "Hardpoint", 21, "6 Star")

('Over', '1')

In [26]:
player_over_under_streak(cdlDF, "Pred", "Search & Destroy", 6.5, "Highrise")

('Over', '1')

In [27]:
player_over_under_streak(cdlDF, "Gunless", "Control", 19, "Karachi")

('Over', '1')

In [28]:
player_over_under_streak(cdlDF, "TJHaLy", "Hardpoint", 21, "Vista")

('Under', '1')

In [29]:
player_over_under_streak(cdlDF, "Cellium", "Control", 21)

('Under', '2')

In [30]:
player_over_under_streak(cdlDF, "Envoy", "Hardpoint", 20)

('Over', '10')

In [7]:
player_1_thru_3_ou(adj_1_thru_3_totals, "FeLo", 50.5)

('Under', '67', '8', '16', '0')

In [11]:
player_1_thru_3_ou(adj_1_thru_3_totals, "Skyz", 50.5)

('Under', '70', '9', '21', '0')

In [15]:
get_line(initial_player_props, "Carolina Royal Ravens", 1, 0)

50.5

In [17]:
get_line(initial_player_props, "Toronto Ultra", 2, 1)

22.0

In [18]:
get_line(initial_player_props, "New York Subliners", 3, 2)

6.5

In [21]:
get_line(initial_player_props, "OpTic Texas", 4, 3)

22.0