In [1]:
# Import setup & df_display_helpers
from setup.setup import *
from datagrid_and_value_box_helpers import *

In [2]:
# Load and clean cdl data
cdlDF = load_and_clean_cdl_data()
cdlDF

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\2024.04.10 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v03\setup\setup.py:38: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,27293,2024-04-21,Sunday,Simp,Atlanta FaZe,3,Invasion,Control,41,24,...,1,W,ATL,FaZe,Toronto Ultra,TOR,1,4,2,0
4292,27293,2024-04-21,Sunday,CleanX,Toronto Ultra,3,Invasion,Control,14,27,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0
4293,27293,2024-04-21,Sunday,Envoy,Toronto Ultra,3,Invasion,Control,21,35,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0
4294,27293,2024-04-21,Sunday,Insight,Toronto Ultra,3,Invasion,Control,20,20,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0
4295,27293,2024-04-21,Sunday,Scrap,Toronto Ultra,3,Invasion,Control,29,27,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0

In [3]:
# Build series score diffs
series_score_diffs = build_series_summaries(cdlDF)
series_score_diffs

,match_id,team,team_abbr,map_wins,map_losses,series_score_diff,match_date,opp
0,27193,Atlanta FaZe,ATL,3,2,1,2023-12-08,BOS
1,27193,Boston Breach,BOS,2,3,-1,2023-12-08,ATL
2,27194,Los Angeles Thieves,LAT,1,3,-2,2023-12-08,SEA
3,27194,Seattle Surge,SEA,3,1,2,2023-12-08,LAT
4,27195,New York Subliners,NYSL,3,2,1,2023-12-08,TX
...,...,...,...,...,...,...,...,...
269,27291,Los Angeles Guerrillas,LAG,0,3,-3,2024-04-21,CAR
270,27292,Boston Breach,BOS,2,3,-1,2024-04-21,MIN
271,27292,Minnesota ROKKR,MIN,3,2,1,2024-04-21,BOS
272,27293,Atlanta FaZe,ATL,3,0,3,2024-04-21,TOR
273,27293,Toronto Ultra,TOR,0,3,-3,2024-04-21,ATL

In [4]:
# Filter maps 
cdlDF = filter_maps(cdlDF)
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,27293,2024-04-21,Sunday,Simp,Atlanta FaZe,3,Invasion,Control,41,24,...,1,W,ATL,FaZe,Toronto Ultra,TOR,1,4,2,0
3188,27293,2024-04-21,Sunday,CleanX,Toronto Ultra,3,Invasion,Control,14,27,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0
3189,27293,2024-04-21,Sunday,Envoy,Toronto Ultra,3,Invasion,Control,21,35,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0
3190,27293,2024-04-21,Sunday,Insight,Toronto Ultra,3,Invasion,Control,20,20,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0
3191,27293,2024-04-21,Sunday,Scrap,Toronto Ultra,3,Invasion,Control,29,27,...,0,L,TOR,Ultra,Atlanta FaZe,ATL,3,4,-2,0

In [5]:
# Get all possible map & mode combos
map_and_mode_combos = filter_maps(cdlDF)[["gamemode", "map_name"]].drop_duplicates().sort_values(["gamemode", "map_name"]).reset_index(drop = True)
map_and_mode_combos

            gamemode  map_name
0          Hardpoint    6 Star
1          Hardpoint   Karachi
2          Hardpoint       Rio
3          Hardpoint  Sub Base
4          Hardpoint     Vista
5   Search & Destroy    6 Star
6   Search & Destroy  Highrise
7   Search & Destroy  Invasion
8   Search & Destroy   Karachi
9   Search & Destroy       Rio
10           Control  Highrise
11           Control  Invasion
12           Control   Karachi

In [10]:
# Test build_scoreboards
scoreboards = build_scoreboards(cdlDF, "Atlanta FaZe", "OpTic Texas", "Hardpoint")
scoreboards

,Date,Match ID,Map,Team,Player,Kills,Deaths,Margin,Opponent,Player,Kills,Deaths
0,2024-04-21,27293,6 Star,ATL,aBeZy,23,17,123,TOR,CleanX,22,22
1,2024-04-21,27293,6 Star,ATL,Cellium,24,11,123,TOR,Envoy,14,26
2,2024-04-21,27293,6 Star,ATL,Drazah,28,18,123,TOR,Insight,13,25
3,2024-04-21,27293,6 Star,ATL,Simp,19,21,123,TOR,Scrap,18,21
4,2024-04-20,27289,Karachi,TX,Dashy,28,24,36,LV,Asim,17,31
...,...,...,...,...,...,...,...,...,...,...,...,...
151,2023-12-08,27193,Karachi,ATL,Simp,33,23,12,BOS,Snoopy,22,30
152,2023-12-08,27195,Karachi,TX,Dashy,17,21,-97,NYSL,HyDra,29,16
153,2023-12-08,27195,Karachi,TX,Kenny,26,22,-97,NYSL,KiSMET,23,20
154,2023-12-08,27195,Karachi,TX,Pred,15,22,-97,NYSL,Sib,19,20
155,2023-12-08,27195,Karachi,TX,Shotzzy,16,22,-97,NYSL,Skyz,16,18

In [11]:
# Test build_scoreboards
scoreboards = build_scoreboards(cdlDF, "Atlanta FaZe", "OpTic Texas", "Hardpoint", "6 Star")
scoreboards

,Date,Match ID,Team,Player,Kills,Deaths,Margin,Opponent,Player,Kills,Deaths
0,2024-04-21,27293,ATL,aBeZy,23,17,123,TOR,CleanX,22,22
1,2024-04-21,27293,ATL,Cellium,24,11,123,TOR,Envoy,14,26
2,2024-04-21,27293,ATL,Drazah,28,18,123,TOR,Insight,13,25
3,2024-04-21,27293,ATL,Simp,19,21,123,TOR,Scrap,18,21
4,2024-04-19,27286,TX,Dashy,23,23,35,SEA,04,23,27
5,2024-04-19,27286,TX,Kenny,36,21,35,SEA,Abuzah,26,26
6,2024-04-19,27286,TX,Pred,21,20,35,SEA,Breszy,18,26
7,2024-04-19,27286,TX,Shotzzy,32,24,35,SEA,Huke,21,33
8,2024-04-14,27284,ATL,aBeZy,21,28,-43,TX,Dashy,33,21
9,2024-04-14,27284,ATL,Cellium,24,21,-43,TX,Kenny,27,26
10,2024-04-14,27284,ATL,Drazah,23,36,-43,TX,Pred,25,26
11,2024-04-14,27284,ATL,Simp,33,23,-43,TX,Shotzzy,23,28

In [9]:
# Test Compute Win Streak for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        "Win Streak: " + str(
            compute_win_streak(
                cdlDF, 
                "Minnesota ROKKR",
                row["gamemode"], 
                row["map_name"]
            )
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

Win Streak: 0    6 Star Hardpoint
Win Streak: 1    Karachi Hardpoint
Win Streak: -3    Rio Hardpoint
Win Streak: -1    Sub Base Hardpoint
Win Streak: -2    Vista Hardpoint
Win Streak: 1    6 Star Search & Destroy
Win Streak: 1    Highrise Search & Destroy
Win Streak: 3    Invasion Search & Destroy
Win Streak: -6    Karachi Search & Destroy
Win Streak: -1    Rio Search & Destroy
Win Streak: -1    Highrise Control
Win Streak: -1    Invasion Control
Win Streak: -4    Karachi Control

In [6]:
# Test Compute H2H Map Record for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Carolina Royal Ravens", 
            "Las Vegas Legion", 
            row["gamemode"], 
            row["map_name"]
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

0 - 0    6 Star Hardpoint
1 - 0    Karachi Hardpoint
0 - 1    Rio Hardpoint
0 - 0    Sub Base Hardpoint
0 - 0    Vista Hardpoint
0 - 0    6 Star Search & Destroy
0 - 1    Highrise Search & Destroy
2 - 0    Invasion Search & Destroy
1 - 0    Karachi Search & Destroy
0 - 0    Rio Search & Destroy
0 - 0    Highrise Control
1 - 0    Invasion Control
1 - 1    Karachi Control

In [8]:
# Test Compute H2H Map Record for each mode overall
all_gamemodes = ["Hardpoint", "Search & Destroy", "Control"]
for gamemode in all_gamemodes:
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Carolina Royal Ravens", 
            "Las Vegas Legion", 
            gamemode
        ) + \
        "    " + gamemode
    )

1 - 1    Hardpoint
3 - 1    Search & Destroy
2 - 1    Control

In [13]:
# Test Compute H2H Series Record by Computing the H2H Series Record for each possible combination of teams

# Get teams
all_teams = sorted(cdlDF['team'].unique())

# Loop through teams
# for i in range(len(all_teams)):
#     if i != len(all_teams) - 1:
#         print(all_teams[i])
#         print("--------------------------")
#     for j in range(i + 1, len(all_teams)):
#         print(
#             f"{compute_h2h_series_record(cdlDF, all_teams[i], all_teams[j])} {all_teams[j]}"
#         )
#     if i != len(all_teams) - 1:
#         print("")

# Loop through all teams
for i in range(len(all_teams)):
    print(all_teams[i])
    print("--------------------------")
    for j in range(len(all_teams)):
        if i != j:
            print(
                f"{compute_h2h_series_record(cdlDF, all_teams[i], all_teams[j])} {all_teams[j]}"
            )
    print("")

Atlanta FaZe
--------------------------
2 - 0 Boston Breach
1 - 0 Carolina Royal Ravens
1 - 0 Las Vegas Legion
2 - 1 Los Angeles Guerrillas
3 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
2 - 0 Minnesota ROKKR
1 - 1 New York Subliners
6 - 0 OpTic Texas
1 - 0 Seattle Surge
2 - 2 Toronto Ultra

Boston Breach
--------------------------
0 - 2 Atlanta FaZe
1 - 0 Carolina Royal Ravens
0 - 1 Las Vegas Legion
0 - 1 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
1 - 1 Miami Heretics
1 - 2 Minnesota ROKKR
0 - 3 New York Subliners
0 - 1 OpTic Texas
1 - 2 Seattle Surge
1 - 0 Toronto Ultra

Carolina Royal Ravens
--------------------------
0 - 1 Atlanta FaZe
0 - 1 Boston Breach
2 - 1 Las Vegas Legion
2 - 0 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
1 - 2 Miami Heretics
0 - 1 Minnesota ROKKR
2 - 2 New York Subliners
0 - 2 OpTic Texas
1 - 2 Seattle Surge
0 - 1 Toronto Ultra

Las Vegas Legion
--------------------------
0 - 1 Atlanta FaZe
1 - 0 Boston Breach
1 - 2 Carolina Royal Ravens
2 - 1 Los Angeles Guerrillas
0 - 2 Los Angeles Thieves
2 - 1 Miami Heretics
1 - 0 Minnesota ROKKR
0 - 1 New York Subliners
0 - 2 OpTic Texas
2 - 0 Seattle Surge
0 - 3 Toronto Ultra

Los Angeles Guerrillas
--------------------------
1 - 2 Atlanta FaZe
1 - 0 Boston Breach
0 - 2 Carolina Royal Ravens
1 - 2 Las Vegas Legion
3 - 1 Los Angeles Thieves
0 - 1 Miami Heretics
1 - 2 Minnesota ROKKR
0 - 2 New York Subliners
0 - 1 OpTic Texas
0 - 1 Seattle Surge
0 - 3 Toronto Ultra

Los Angeles Thieves
--------------------------
0 - 3 Atlanta FaZe
1 - 0 Boston Breach
1 - 0 Carolina Royal Ravens
2 - 0 Las Vegas Legion
1 - 3 Los Angeles Guerrillas
2 - 0 Miami Heretics
1 - 0 Minnesota ROKKR
0 - 1 New York Subliners
0 - 1 OpTic Texas
0 - 1 Seattle Surge
0 - 2 Toronto Ultra

Miami Heretics
--------------------------
0 - 1 Atlanta FaZe
1 - 1 Boston Breach
2 - 1 Carolina Royal Ravens
1 - 2 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
0 - 2 Los Angeles Thieves
2 - 0 Minnesota ROKKR
0 - 1 New York Subliners
1 - 2 OpTic Texas
0 - 1 Seattle Surge
0 - 2 Toronto Ultra

Minnesota ROKKR
--------------------------
0 - 2 Atlanta FaZe
2 - 1 Boston Breach
1 - 0 Carolina Royal Ravens
0 - 1 Las Vegas Legion
2 - 1 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
0 - 2 Miami Heretics
1 - 2 New York Subliners
0 - 3 OpTic Texas
2 - 0 Seattle Surge
0 - 2 Toronto Ultra

New York Subliners
--------------------------
1 - 1 Atlanta FaZe
3 - 0 Boston Breach
2 - 2 Carolina Royal Ravens
1 - 0 Las Vegas Legion
2 - 0 Los Angeles Guerrillas
1 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
2 - 1 Minnesota ROKKR
1 - 2 OpTic Texas
1 - 1 Seattle Surge
1 - 1 Toronto Ultra

OpTic Texas
--------------------------
0 - 6 Atlanta FaZe
1 - 0 Boston Breach
2 - 0 Carolina Royal Ravens
2 - 0 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
1 - 0 Los Angeles Thieves
2 - 1 Miami Heretics
3 - 0 Minnesota ROKKR
2 - 1 New York Subliners
3 - 0 Seattle Surge
2 - 0 Toronto Ultra

Seattle Surge
--------------------------
0 - 1 Atlanta FaZe
2 - 1 Boston Breach
2 - 1 Carolina Royal Ravens
0 - 2 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
1 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
0 - 2 Minnesota ROKKR
1 - 1 New York Subliners
0 - 3 OpTic Texas
0 - 3 Toronto Ultra

Toronto Ultra
--------------------------
2 - 2 Atlanta FaZe
0 - 1 Boston Breach
1 - 0 Carolina Royal Ravens
3 - 0 Las Vegas Legion
3 - 0 Los Angeles Guerrillas
2 - 0 Los Angeles Thieves
2 - 0 Miami Heretics
2 - 0 Minnesota ROKKR
1 - 1 New York Subliners
0 - 2 OpTic Texas
3 - 0 Seattle Surge

In [41]:
player_over_under_percentage(cdlDF, "Shotzzy", "Hardpoint", 30)

('Under', '81', '3', '17', '1')

In [42]:
player_over_under_percentage(cdlDF, "Attach", "Search & Destroy", 7)

('Under', '50', '10', '11', '1')

In [43]:
player_over_under_percentage(cdlDF, "Drazah", "Control", 22.5)

('Over', '58', '15', '11', '0')

In [44]:
player_over_under_percentage(cdlDF, "Skyz", "Hardpoint", 24, "Sub Base")

('Under', '62', '3', '5', '0')

In [37]:
player_over_under_percentage(cdlDF, "HyDra", "Search & Destroy", 12, "Rio")

('Under', '100', '1', '0', '0')

In [45]:
player_over_under_percentage(cdlDF, "Diamondcon", "Control", 21, "Highrise")

('Over', '60', '6', '4', '0')

In [47]:
player_over_under_percentage(cdlDF, "Gunless", "Hardpoint", 24, "Sub Base")

('Never Played', '', '', '', '')

In [48]:
player_over_under_percentage(cdlDF, "Kenny", "Hardpoint", 24, "Vista")

('Never Played', '', '', '', '')

In [52]:
over_under, percentage, overs, unders, hooks = player_over_under_percentage(cdlDF, "Accuracy", "Control", 21, "Invasion")
print(f"{over_under} {percentage}% \n{overs} - {unders} - {hooks}")

Over 50%
5 - 5 - 0

In [53]:
over_under, percentage, overs, unders, hooks = player_over_under_percentage(cdlDF, "Scrap", "Hardpoint", 23)
print(f"{over_under} {percentage}% \n{overs} - {unders} - {hooks}")

Over 58%
15 - 9 - 2

In [54]:
player_over_under_streak(cdlDF, "Kremp", "Hardpoint", 21.5)

('Over', '1')

In [55]:
player_over_under_streak(cdlDF, "Vikul", "Search & Destroy", 6.5)

('Under', '1')

In [56]:
player_over_under_streak(cdlDF, "Lucky", "Control", 21)

('Over', '1')

In [57]:
player_over_under_streak(cdlDF, "Gio", "Hardpoint", 21, "6 Star")

('Under', '1')

In [58]:
player_over_under_streak(cdlDF, "Pred", "Search & Destroy", 6.5, "Highrise")

('Under', '1')

In [59]:
player_over_under_streak(cdlDF, "Gunless", "Control", 19, "Karachi")

('Under', '1')

In [61]:
player_over_under_streak(cdlDF, "TJHaLy", "Hardpoint", 21, "Vista")

('Never Played', ' ')

In [63]:
player_over_under_streak(cdlDF, "Cellium", "Control", 21)

('Over', '6')

In [68]:
player_over_under_streak(cdlDF, "Envoy", "Hardpoint", 20)

('Under', '8')