In [1]:
# Import matplotlib
import matplotlib.pyplot as plt

In [2]:
# Import constants from ggplot_helpers
from ggplot_helpers import *

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\2024.04.10 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v02\setup\setup.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

In [3]:
# Check that dataframe loaded
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,53374,2024-03-24,Sunday,Simp,Atlanta FaZe,5,Rio,Search & Destroy,9,5,...,1,W,ATL,FaZe,OpTic Texas,TX,4,10,2,0
3756,53374,2024-03-24,Sunday,Dashy,OpTic Texas,5,Rio,Search & Destroy,5,7,...,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2,0
3757,53374,2024-03-24,Sunday,Kenny,OpTic Texas,5,Rio,Search & Destroy,4,9,...,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2,0
3758,53374,2024-03-24,Sunday,Pred,OpTic Texas,5,Rio,Search & Destroy,5,8,...,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2,0
3759,53374,2024-03-24,Sunday,Shotzzy,OpTic Texas,5,Rio,Search & Destroy,9,9,...,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2,0

In [4]:
def team_score_diffs(
        team_input: str, gamemode_input: str, map_input = "All"
):
    filtered_df = \
        cdlDF[(cdlDF["gamemode"] == gamemode_input) & \
                (cdlDF["team"] == team_input)] \
                [["match_id", "map_name", "score_diff"]].drop_duplicates()
    
    return filtered_df

In [5]:
team_score_diffs("Atlanta FaZe", "Hardpoint")

      match_id  map_name  score_diff
0        27193   Karachi          12
320      27202   Karachi          20
520      27209   Karachi          66
648      27214  Sub Base          20
1176     27231  Sub Base         -82
1600     35647  Sub Base         -62
1768     35652   Karachi         -36
1792     35652  Sub Base        -122
1832     35654   Karachi         -11
1968     27238  Sub Base         -99
1992     27238       Rio          66
2400     27251   Karachi         115
2440     27252       Rio          57
2592     27258   Karachi          78
3080     27274  Sub Base         -73
3264     52845       Rio          78
3496     53237       Rio          64
3680     53372   Karachi          13
3720     53374   Karachi          26