In [1]:
# Import setup
from setup.setup import *

In [4]:
# Import pandas
import pandas as pd

In [2]:
# Load in data
cdlDF = load_and_clean_cdl_data()
cdlDF

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\2024.04.10 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v02\setup\setup.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,27284,2024-04-14,Sunday,Simp,Atlanta FaZe,4,Rio,Hardpoint,26,28,...,1,W,ATL,FaZe,OpTic Texas,TX,241,491,9,0
4012,27284,2024-04-14,Sunday,Dashy,OpTic Texas,4,Rio,Hardpoint,25,23,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4013,27284,2024-04-14,Sunday,Kenny,OpTic Texas,4,Rio,Hardpoint,27,26,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4014,27284,2024-04-14,Sunday,Pred,OpTic Texas,4,Rio,Hardpoint,21,25,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4015,27284,2024-04-14,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,29,29,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0

In [3]:
# Build team_summaries
team_summaries_DF = build_team_summaries(cdlDF_input = cdlDF)
team_summaries_DF

              team          gamemode  map_name  wins  losses  win_percentage
0     Atlanta FaZe         Hardpoint    6 Star     0       1            0.00
1     Atlanta FaZe         Hardpoint  Invasion     6       3            0.67
2     Atlanta FaZe         Hardpoint   Karachi     7       2            0.78
3     Atlanta FaZe         Hardpoint       Rio     5       0            1.00
4     Atlanta FaZe         Hardpoint       NaN     4       2            0.67
..             ...               ...       ...   ...     ...             ...
222  Seattle Surge  Search & Destroy   Overall    17       8            0.68
223  Seattle Surge           Control   Overall     3      17            0.15
224  Toronto Ultra         Hardpoint   Overall    28       6            0.82
225  Toronto Ultra  Search & Destroy   Overall    15      11            0.58
226  Toronto Ultra           Control   Overall    15       8            0.65

[227 rows x 6 columns]

In [ ]:
from great_tables_helpers import *

In [ ]:
team_summaries_gt_fn(team_summaries_DF, "New York Subliners", "OpTic Texas")

In [ ]:
h2h_summary_gt_fn(cdlDF, "New York Subliners", "OpTic Texas")