In [1]:
# Import setup and pandas_style_helpers
from setup.setup import *

In [2]:
# Load in data
cdlDF = load_and_clean_cdl_data()
cdlDF

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\2024.04.10 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v02\setup\setup.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,27284,2024-04-14,Sunday,Simp,Atlanta FaZe,4,Rio,Hardpoint,26,28,...,1,W,ATL,FaZe,OpTic Texas,TX,241,491,9,0
4012,27284,2024-04-14,Sunday,Dashy,OpTic Texas,4,Rio,Hardpoint,25,23,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4013,27284,2024-04-14,Sunday,Kenny,OpTic Texas,4,Rio,Hardpoint,27,26,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4014,27284,2024-04-14,Sunday,Pred,OpTic Texas,4,Rio,Hardpoint,21,25,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4015,27284,2024-04-14,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,29,29,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0

In [14]:
# Build team summaries
team_summaries_DF = build_team_summaries(cdlDF)
team_summaries_DF.head(20)

             team          gamemode  map_name  wins  losses  win_percentage
0    Atlanta FaZe         Hardpoint    6 Star     0       1            0.00
1    Atlanta FaZe         Hardpoint  Invasion     6       3            0.67
2    Atlanta FaZe         Hardpoint   Karachi     7       2            0.78
3    Atlanta FaZe         Hardpoint       Rio     5       0            1.00
4    Atlanta FaZe         Hardpoint       NaN     4       2            0.67
5    Atlanta FaZe         Hardpoint  Sub Base     1       5            0.17
6    Atlanta FaZe         Hardpoint       NaN     2       1            0.67
7    Atlanta FaZe         Hardpoint     Vista     1       0            1.00
8    Atlanta FaZe  Search & Destroy  Highrise     5       3            0.62
9    Atlanta FaZe  Search & Destroy  Invasion     9       3            0.75
10   Atlanta FaZe  Search & Destroy   Karachi     3       1            0.75
11   Atlanta FaZe  Search & Destroy       Rio     3       0            1.00
12   Atlanta FaZe  Search & Destroy       NaN     2       1            0.67
13   Atlanta FaZe  Search & Destroy       NaN     2       2            0.50
14   Atlanta FaZe           Control  Highrise     6       1            0.86
15   Atlanta FaZe           Control  Invasion     9       3            0.75
16   Atlanta FaZe           Control   Karachi     5       1            0.83
17  Boston Breach         Hardpoint  Invasion     5       3            0.62
18  Boston Breach         Hardpoint   Karachi     2       5            0.29
19  Boston Breach         Hardpoint       Rio     1       1            0.50