In [2]:
# Import setup & df_display_helpers
from setup.setup import *
from datagrid_and_value_box_helpers import *

In [3]:
# Load and clean cdl data
cdlDF = load_and_clean_cdl_data()
cdlDF

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\2024.04.10 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v02\setup\setup.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,27284,2024-04-14,Sunday,Simp,Atlanta FaZe,4,Rio,Hardpoint,26,28,...,1,W,ATL,FaZe,OpTic Texas,TX,241,491,9,0
4012,27284,2024-04-14,Sunday,Dashy,OpTic Texas,4,Rio,Hardpoint,25,23,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4013,27284,2024-04-14,Sunday,Kenny,OpTic Texas,4,Rio,Hardpoint,27,26,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4014,27284,2024-04-14,Sunday,Pred,OpTic Texas,4,Rio,Hardpoint,21,25,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4015,27284,2024-04-14,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,29,29,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0

In [4]:
# Build series score diffs
series_score_diffs = build_series_summaries(cdlDF)
series_score_diffs

,match_id,team,map_wins,map_losses,series_score_diff,match_date,opp
0,27193,Atlanta FaZe,3,2,1,2023-12-08,BOS
1,27193,Boston Breach,2,3,-1,2023-12-08,ATL
2,27194,Los Angeles Thieves,1,3,-2,2023-12-08,SEA
3,27194,Seattle Surge,3,1,2,2023-12-08,LAT
4,27195,New York Subliners,3,2,1,2023-12-08,TX
...,...,...,...,...,...,...,...
251,27282,Seattle Surge,3,2,1,2024-04-14,CAR
252,27283,Las Vegas Legion,2,3,-1,2024-04-14,LAT
253,27283,Los Angeles Thieves,3,2,1,2024-04-14,LV
254,27284,Atlanta FaZe,3,1,2,2024-04-14,TX
255,27284,OpTic Texas,1,3,-2,2024-04-14,ATL

In [5]:
# Filter maps & players from cdlDF
cdlDF = filter_players(cdlDF)
cdlDF = filter_maps(cdlDF)
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Priestahh,Boston Breach,1,Karachi,Hardpoint,18,24,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,27284,2024-04-14,Sunday,Simp,Atlanta FaZe,4,Rio,Hardpoint,26,28,...,1,W,ATL,FaZe,OpTic Texas,TX,241,491,9,0
2470,27284,2024-04-14,Sunday,Dashy,OpTic Texas,4,Rio,Hardpoint,25,23,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
2471,27284,2024-04-14,Sunday,Kenny,OpTic Texas,4,Rio,Hardpoint,27,26,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
2472,27284,2024-04-14,Sunday,Pred,OpTic Texas,4,Rio,Hardpoint,21,25,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
2473,27284,2024-04-14,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,29,29,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0

In [10]:
# Get all possible map & mode combos
map_and_mode_combos = filter_maps(cdlDF)[["gamemode", "map_name"]].drop_duplicates().sort_values(["gamemode", "map_name"]).reset_index(drop = True)
map_and_mode_combos

            gamemode  map_name
0          Hardpoint    6 Star
1          Hardpoint   Karachi
2          Hardpoint       Rio
3          Hardpoint  Sub Base
4          Hardpoint     Vista
5   Search & Destroy    6 Star
6   Search & Destroy  Highrise
7   Search & Destroy  Invasion
8   Search & Destroy   Karachi
9   Search & Destroy       Rio
10           Control  Highrise
11           Control  Invasion
12           Control   Karachi

In [29]:
# Test Compute H2H Map Record for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Las Vegas Legion", 
            "Los Angeles Thieves", 
            row["gamemode"], 
            row["map_name"]
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

0 - 1    6 Star Hardpoint
0 - 0    Karachi Hardpoint
0 - 1    Rio Hardpoint
0 - 0    Sub Base Hardpoint
1 - 0    Vista Hardpoint
0 - 1    6 Star Search & Destroy
0 - 0    Highrise Search & Destroy
0 - 1    Invasion Search & Destroy
0 - 0    Karachi Search & Destroy
0 - 1    Rio Search & Destroy
0 - 1    Highrise Control
1 - 0    Invasion Control
0 - 0    Karachi Control

In [32]:
# Test Compute H2H Map Record for each mode overall
all_gamemodes = ["Hardpoint", "Search & Destroy", "Control"]
for gamemode in all_gamemodes:
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Toronto Ultra", 
            "Atlanta FaZe", 
            gamemode
        ) + \
        "    " + gamemode
    )

3 - 1    Hardpoint
2 - 1    Search & Destroy
0 - 3    Control

In [34]:
compute_h2h_series_record(cdlDF, "Minnesota ROKKR", "New York Subliners")

'0 - 1'