# Imports & setup

In [1]:
# Import pandas, numpy, and datetime
import pandas as pd
import pandas.io.sql as sqlio
import numpy as np
import datetime as dt

In [2]:
# Import psycopg2 
import psycopg2

In [ ]:
# Import db password from config
from config import db_password

In [3]:
#establishing the connection
conn = psycopg2.connect(
   database = "cdl_db", 
   user = 'postgres', 
   password = db_password, 
   host = '127.0.0.1', 
   port= '5432'
)

In [4]:
# Load data into a pandas dataframe
cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)
cdlDF

C:\Users\David Harler Jr\AppData\Local\Temp\ipykernel_6536\3194835332.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,kd,plus_minus,dmg,team_score,map_result,series_result
0,27242,2024-02-18,Sunday,Kremp,Los Angeles Thieves,1,Rio,Hardpoint,17,29,0.59,-12,3316,122,0,0
1,27218,2024-01-13,Saturday,Priestahh,Boston Breach,2,Karachi,Search & Destroy,6,5,1.20,1,1222,6,1,0
2,27234,2024-01-21,Sunday,Pred,OpTic Texas,1,Invasion,Hardpoint,17,21,0.81,-4,2908,235,0,0
3,27274,2024-03-17,Sunday,Fame,Los Angeles Guerrillas,2,Highrise,Search & Destroy,6,6,1.00,0,1254,6,1,1
4,27197,2023-12-09,Saturday,Accuracy,Minnesota RØKKR,1,Skidrow,Hardpoint,13,13,1.00,0,2760,250,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,27200,2023-12-10,Sunday,Gwinn,Carolina Royal Ravens,1,Invasion,Hardpoint,17,20,0.85,-3,3262,170,0,1
3756,27206,2023-12-15,Friday,Dashy,OpTic Texas,2,Karachi,Search & Destroy,5,5,1.00,0,1036,6,1,1
3757,27209,2023-12-16,Saturday,aBeZy,Atlanta FaZe,2,Highrise,Search & Destroy,10,6,1.67,4,1871,4,0,1
3758,27267,2024-03-10,Sunday,Lucky,Miami Heretics,4,Sub Base,Hardpoint,17,13,1.31,4,3415,250,1,1
3759,35635,2024-01-25,Thursday,Scrap,Toronto Ultra,3,Karachi,Control,21,15,1.40,6,4049,3,1,1

In [5]:
# Close the connection
conn.close()

In [6]:
# Drop unnecessary columns
cdlDF.drop(["match_day", "deaths", "kd", "plus_minus", "dmg", "series_result"], axis=1)

,match_id,match_date,player,team,map_num,map_name,gamemode,kills,team_score,map_result
0,27242,2024-02-18,Kremp,Los Angeles Thieves,1,Rio,Hardpoint,17,122,0
1,27218,2024-01-13,Priestahh,Boston Breach,2,Karachi,Search & Destroy,6,6,1
2,27234,2024-01-21,Pred,OpTic Texas,1,Invasion,Hardpoint,17,235,0
3,27274,2024-03-17,Fame,Los Angeles Guerrillas,2,Highrise,Search & Destroy,6,6,1
4,27197,2023-12-09,Accuracy,Minnesota RØKKR,1,Skidrow,Hardpoint,13,250,1
...,...,...,...,...,...,...,...,...,...,...
3755,27200,2023-12-10,Gwinn,Carolina Royal Ravens,1,Invasion,Hardpoint,17,170,0
3756,27206,2023-12-15,Dashy,OpTic Texas,2,Karachi,Search & Destroy,5,6,1
3757,27209,2023-12-16,aBeZy,Atlanta FaZe,2,Highrise,Search & Destroy,10,4,0
3758,27267,2024-03-10,Lucky,Miami Heretics,4,Sub Base,Hardpoint,17,250,1
3759,35635,2024-01-25,Scrap,Toronto Ultra,3,Karachi,Control,21,3,1

In [7]:
# Correct Minnesota ROKKR team name
cdlDF.replace("Minnesota RØKKR", "Minnesota ROKKR")

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,kd,plus_minus,dmg,team_score,map_result,series_result
0,27242,2024-02-18,Sunday,Kremp,Los Angeles Thieves,1,Rio,Hardpoint,17,29,0.59,-12,3316,122,0,0
1,27218,2024-01-13,Saturday,Priestahh,Boston Breach,2,Karachi,Search & Destroy,6,5,1.20,1,1222,6,1,0
2,27234,2024-01-21,Sunday,Pred,OpTic Texas,1,Invasion,Hardpoint,17,21,0.81,-4,2908,235,0,0
3,27274,2024-03-17,Sunday,Fame,Los Angeles Guerrillas,2,Highrise,Search & Destroy,6,6,1.00,0,1254,6,1,1
4,27197,2023-12-09,Saturday,Accuracy,Minnesota ROKKR,1,Skidrow,Hardpoint,13,13,1.00,0,2760,250,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,27200,2023-12-10,Sunday,Gwinn,Carolina Royal Ravens,1,Invasion,Hardpoint,17,20,0.85,-3,3262,170,0,1
3756,27206,2023-12-15,Friday,Dashy,OpTic Texas,2,Karachi,Search & Destroy,5,5,1.00,0,1036,6,1,1
3757,27209,2023-12-16,Saturday,aBeZy,Atlanta FaZe,2,Highrise,Search & Destroy,10,6,1.67,4,1871,4,0,1
3758,27267,2024-03-10,Sunday,Lucky,Miami Heretics,4,Sub Base,Hardpoint,17,13,1.31,4,3415,250,1,1
3759,35635,2024-01-25,Thursday,Scrap,Toronto Ultra,3,Karachi,Control,21,15,1.40,6,4049,3,1,1

In [8]:
cdlDF['map_wl'] = ["W" if x == 1 else "L" for x in cdlDF['map_result']]

In [9]:
# Add team colors, abbreviations, and icons

# Teams
teams = cdlDF.sort_values(by = ['team']).team.unique()

# Team Abbreviations
team_abbrs = [
    "ATL", "BOS", "CAR", "LV", "LAG", "LAT",
    "MIA", "MIN", "NYSL", "TX", "SEA", "TOR"
    ]

# Team Icons
team_icons = np.array([team.split()[-1] for team in teams])
team_icons[9] = "OpTic"

team_abbrs_icons_df = pd.DataFrame({
    "team": teams, 
    "team_abbr": team_abbrs, 
    "team_icon": team_icons
})

team_abbrs_icons_df

                      team team_abbr   team_icon
0             Atlanta FaZe       ATL        FaZe
1            Boston Breach       BOS      Breach
2    Carolina Royal Ravens       CAR      Ravens
3         Las Vegas Legion        LV      Legion
4   Los Angeles Guerrillas       LAG  Guerrillas
5      Los Angeles Thieves       LAT     Thieves
6           Miami Heretics       MIA    Heretics
7          Minnesota RØKKR       MIN       RØKKR
8       New York Subliners      NYSL   Subliners
9              OpTic Texas        TX       OpTic
10           Seattle Surge       SEA       Surge
11           Toronto Ultra       TOR       Ultra

In [10]:
# Left join cdlDF & team_abbrs_colors_df
cdlDF = pd.merge(cdlDF, team_abbrs_icons_df, on = 'team', how = 'left')
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,kd,plus_minus,dmg,team_score,map_result,series_result,map_wl,team_abbr,team_icon
0,27242,2024-02-18,Sunday,Kremp,Los Angeles Thieves,1,Rio,Hardpoint,17,29,0.59,-12,3316,122,0,0,L,LAT,Thieves
1,27218,2024-01-13,Saturday,Priestahh,Boston Breach,2,Karachi,Search & Destroy,6,5,1.20,1,1222,6,1,0,W,BOS,Breach
2,27234,2024-01-21,Sunday,Pred,OpTic Texas,1,Invasion,Hardpoint,17,21,0.81,-4,2908,235,0,0,L,TX,OpTic
3,27274,2024-03-17,Sunday,Fame,Los Angeles Guerrillas,2,Highrise,Search & Destroy,6,6,1.00,0,1254,6,1,1,W,LAG,Guerrillas
4,27197,2023-12-09,Saturday,Accuracy,Minnesota RØKKR,1,Skidrow,Hardpoint,13,13,1.00,0,2760,250,1,0,W,MIN,RØKKR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,27200,2023-12-10,Sunday,Gwinn,Carolina Royal Ravens,1,Invasion,Hardpoint,17,20,0.85,-3,3262,170,0,1,L,CAR,Ravens
3756,27206,2023-12-15,Friday,Dashy,OpTic Texas,2,Karachi,Search & Destroy,5,5,1.00,0,1036,6,1,1,W,TX,OpTic
3757,27209,2023-12-16,Saturday,aBeZy,Atlanta FaZe,2,Highrise,Search & Destroy,10,6,1.67,4,1871,4,0,1,L,ATL,FaZe
3758,27267,2024-03-10,Sunday,Lucky,Miami Heretics,4,Sub Base,Hardpoint,17,13,1.31,4,3415,250,1,1,W,MIA,Heretics
3759,35635,2024-01-25,Thursday,Scrap,Toronto Ultra,3,Karachi,Control,21,15,1.40,6,4049,3,1,1,W,TOR,Ultra

In [11]:
# Get Opponents, Match Scores, and Score Differentials

# Convert 'player' column to lowercase
cdlDF['player_lower'] = cdlDF['player'].str.lower()

# Sort DataFrame by specified columns
cdlDF = cdlDF.sort_values(by=['match_date', 'match_id', 'map_num', 'team', 'player_lower'])
cdlDF.reset_index(drop=True, inplace=True)

# Create DataFrame containing opponent information
opps = cdlDF.sort_values(by=['match_date', 'match_id', 'map_num', 'team', 'player_lower'], ascending=[True, True, True, False, True]) \
            [['team', 'team_abbr', 'team_score']] \
            .rename(columns={'team': 'opp', 'team_abbr': 'opp_abbr', 'team_score': 'opp_score'})
opps.reset_index(drop=True, inplace=True)

# Merge opponent DataFrame with original DataFrame
cdlDF = pd.concat([cdlDF, opps], axis=1)

# Calculate total score and score differential
cdlDF['total_score'] = cdlDF['team_score'] + cdlDF['opp_score']
cdlDF['score_diff'] = cdlDF['team_score'] - cdlDF['opp_score']

# Drop the 'player_lower' column
cdlDF = cdlDF.drop(columns=['player_lower'])

# Display the resulting DataFrame
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,map_result,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,53374,2024-03-24,Sunday,Simp,Atlanta FaZe,5,Rio,Search & Destroy,9,5,...,1,1,W,ATL,FaZe,OpTic Texas,TX,4,10,2
3756,53374,2024-03-24,Sunday,Dashy,OpTic Texas,5,Rio,Search & Destroy,5,7,...,0,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2
3757,53374,2024-03-24,Sunday,Kenny,OpTic Texas,5,Rio,Search & Destroy,4,9,...,0,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2
3758,53374,2024-03-24,Sunday,Pred,OpTic Texas,5,Rio,Search & Destroy,5,8,...,0,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2
3759,53374,2024-03-24,Sunday,Shotzzy,OpTic Texas,5,Rio,Search & Destroy,9,9,...,0,0,L,TX,OpTic,Atlanta FaZe,ATL,6,10,-2

In [12]:
# Get rosters
rostersDF = cdlDF[['player', 'team']].drop_duplicates()
rostersDF = rostersDF.sort_values(by='team')
rostersDF.reset_index(drop=True, inplace=True)

# Get dropped players
dropped_players = [
    "GodRx", "Cammy", "JurNii", "Capsidal", "Afro", "Asim", 
    "Slasher", "Arcitys", "Vivid", "Owakening", "EriKBooM", "iLLey"
    ]

In [13]:
cdlDF.dtypes

match_id           int64
match_date        object
match_day         object
player            object
team              object
map_num            int64
map_name          object
gamemode          object
kills              int64
deaths             int64
kd               float64
plus_minus         int64
dmg                int64
team_score         int64
map_result         int64
series_result      int64
map_wl            object
team_abbr         object
team_icon         object
opp               object
opp_abbr          object
opp_score          int64
total_score        int64
score_diff         int64
dtype: object